@use "reset/reset.scss" as *;
@use "variables/global.scss" as *;
@use "themes/dark.scss" as *;
@use "themes/light.scss" as *;

body {
  font: var(--font-light);
  color: var(--color-text);
  background: var(--color-bg);

  &::-webkit-scrollbar {
    width: 0;
  }

  [data-radix-popper-content-wrapper] {
    background-color: var(--color-bg) !important;
    color: var(--color-text) !important;
  }
}

.app {
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
}