.app.dark {
  --color-bg: var(--color-bg-primary-inverted);
  --color-text: var(--color-text-primary-inverted);
  --color-accent: var(--color-accent-inverted);
  --color-secondary: var(--color-text-muted-inverted);
}